<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dogs</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <nav>
        <a href="/">home</a>
        <a href="/dogs">Dogs</a>
        <a href="/dogs/new">new dog</a>
        <a href="/register">Sign Up</a>
        <a href="/login">login</a>
        <a href="/logout">logout</a>
    </nav>
    
