<% include ../partials/header %>
<h1>post doggy below</h1>
<form action="/dogs" method="post">
    <input type="text" name="name" placeholder="dog name here" id="">
    <input type="date" name="age" placeholder="dog age" id="">
    <input type="text" name="image" placeholder="dog pic" id="">
    <button type="submit">post dog</button>

</form>

<% include ../partials/footer%>